@use "sass:color";

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

// GLOBAL

$font: Cantarell, Symbols Nerd Font Mono;
$background-color: #282828;
$white: #e1d9f4;
$green: #6ace9e;
$light-blue: #809ee5;
$dim-blue: #648392;
$dark-blue: #2b3948;
$red: #f7768e;
$yellow: #c6bf57;

.bar {
  font: 16px $font;
  background-color: transparent;
  color: $white;
}

tooltip {
  font: 14px $font;
  color: $white;
  background: $background-color;
  border-radius: 16px;
}

menu {
  font: 15px $font;
  background: $background-color;
  border-radius: 8px;

  menuitem {
    border-radius: 8px;
    padding: 2px 3px;
    margin: 2px 0;

    &:hover {
      background: $dark-blue;
    }
  }
}

// LEFT

.workspaces {
  background: $background-color;
  margin: 0px 10px 5px 10px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 20px;
}

.workspace-button {
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 3px;
  border-radius: 16px;
  color: #748392;
  transition: all .3s;

  &.active {
    color: $white;
    border-radius: 16px;
  }

  &:hover {
    background-color: #b9c6e6;
    color: black;
    border-radius: 16px;
    transition: all .3s;
  }
}

.playerctl {
  @mixin colored-button($class, $color) {
    &.#{$class} button {
      color: $color;

      &:hover {
        color: color.scale($color, $lightness: 30%);
      }
    }
  }

  background: $background-color;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 0;

  @include colored-button(playing, $light-blue);
  @include colored-button(paused, $dim-blue);
}

// CENTER

.clock {
  color: #B9C6E6;
  background-color: $background-color;
  border-radius: 24px 8px;
  padding: 0px 15px;
  font-weight: 500;
  font-size: 18px;
}

// RIGHT

.right {
  font-size: 18px;
  background: $background-color;
  border-radius: 24px 0px 0px 4px;
  padding: 0 10px 0 12px;

  * {
    padding: 0 2px;
  }
}

.language {
  font-size: 16px;
  border: 1px solid color.scale($white, $lightness: -20%);
  border-radius: 4px;
  padding: 0 1px 1px 1px;
}

.battery {
  color: $green;

  &.warning {
    color: $red;
  }
}

.network {
  color: $light-blue;

  &.disconnected {
    color: $red;
  }
}

.volume {
  color: $yellow;
  padding-right: 0;
}

